body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #ccc;
}

.holder {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 40px;
    width: 30%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    max-width: 500px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    color: #ddd;
}

.form-label {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: #ccc;
}

.input-group-text {
    background-color: #444;
    color: white;
    border: 1px solid #444;
}

input.form-control {
    border-radius: 8px;
    background-color: #333;
    color: white;
    border: 1px solid #444;
    font-size: 1rem;
    margin-bottom: 15px;
}

input.form-control:focus {
    background-color: #444;
    border-color: #007bff;
    color: white;
}

button {
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 12px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

button:focus {
    outline: none;
}

p {
    color: #ccc;
    text-align: center;
    margin-top: 20px;
}

a {
    color: #28a745;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
